@font-face {
    font-style: normal;
    font-weight: 500;
    src: url("LabGrotesque-Regular.woff2") format('woff2');
    font-family: 'LabGrotesque';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 400; /*500*/
    src: url('LabGrotesque-Medium.woff2') format('woff2');
    font-family: 'LabGrotesque';
    font-display: swap;
}

body {
    font-size: 16px;
    font-family: LabGrotesque, Arial, Helvetica, sans-serif;
    background-color: grey;
}

.model{
    font-family: LabGrotesque;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 552px;
    height: 740px;
    width: 100%;
    margin-block: 10vh;
    background: white;
    padding: 32px;
    border-radius: 30px;
}

.overlay {
    position: static;
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.close {
    position: absolute;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
b{
    margin: 0;
}

.btn{
    padding: unset;
    margin: auto;
    background: none;
    border: none;
    color: #EA0029;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.lay{
    position: absolute;
    width: 488px;
    height: 72px;
    top: 184px;
    left: 32px;
}

.lay2{
    margin-bottom: 8px;
}

.my-input{
    width: 100%;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #DFE3E6;
}

.text{
    font-family: "Body";
    margin-bottom: 24px;
    color: #808080;
    font-size: 14px;
    line-height: 24px;
}

.label{
    display: block;
    margin-bottom: 8px;
}

.lay3{
    position: absolute;
    width: 290px;
    height: 36px;
    top: 576px;
    left: 32px;
    border-radius: 50px;
}

.lay4{
    font-size: 14px;
    width: 112px;
    height: 24px;
    top: 316px;
    left: 32px;
}

.btn2{
    background: none;
    border: none;
    cursor: pointer;
}

.btn3{
    font-family: "Body";
    font-size: 14px;
    background: none;
    border: none;
    width: 73px;
    height: 36px;
    top: 312px;
    left: 176px;
    border-radius: 50px;
    gap: 12px;
    background: #FF5E56;
    color: white;
    cursor: pointer;
}

.btn4{
    font-family: "Body";
    font-size: 14px;
    background: none;
    border: none;
    width: 57px;
    height: 36px;
    top: 312px;
    left: 265px;
    border-radius: 50px;
    gap: 12px;
    background: #EEF0F2;
    cursor: pointer;
}

.btn5{
    border: none;
    background: none;
    position: absolute;
    width: 488px;
    height: 56px;
    top: 652px;
    left: 32px;
    border-radius: 6px;
    gap: 10px;
    background-color: #FF5E56;
    box-shadow: 0px 0px 24px 0px #EA002954;
    font-family: Caption;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.lay5{
    font-size: 14px;
    width: 295px;
    height: 24px;
    top: 304px;
    left: 32px;
}

.oneyears{
    position: sticky;
    font-weight: 400;
    height: 24px;
    top: 344px;
    left: 32px;
    font-size: 14px;
}

.checkbox{
    cursor: pointer;
    background-color: #FF5E56;
    width: 20px;
    height: 20px;
    border: 1px;

}

.Rectangle{
    margin: auto;
    width: 488px;
    height: 1px;
    border-color: #DFE3E6;
    border: 10px;
;

}

dl {
    margin: 0;
    padding: 24px 0 0 0;
}
